nav{
    
    width: 100%;
    padding: 2.5px;
    font-size: larger;
   
}
nav ul a:hover {
  color: black;
}

ul {
  padding-left: 900px;
}
.footer{
  text-align: center;
  background-color: yellow;
  width: 100%;
  padding: 2.5px;
  font-size: larger;
  
}
h1{
  text-align: center;
}
table {
  
  border: rebeccapurple;
  padding-bottom: 20px;
  height:40px; width:100%;
}
img {
  max-width:100% ;margin: 0 auto; display: block;
}
.grid{

  display: grid;
  grid-template-columns: 0.5fr 4fr 0.5fr; 
  
  grid-template-areas:
  ".gioithieu."
  ".diadiem."
  ".foody."
  ".hotel."
  ".lienlac."
}
.gioithieu{
  grid-area: gioithieu;
}
.diadiem{
  grid-area: diadiem;
}
.foody{
  grid-area: foody;
}
.hotel{
  grid-area: hotel;
}
.lienlac{
  grid-area: lienlac;


}
tr > td {height:40px; width:100%;}

p{
  text-align: initial;
  font-size: larger;
}
#chu{
  text-align: center;
}